<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>擁有的商品列表</title>
</head>
<body>
<div class="container-fluid">
  <h1>商品列表</h1>
  <div th:if="${categoryMap == null || categoryMap.size() == 0}">
    <a th:href="@{/category/list}">請先新增商品類別</a>
  </div>
  <div th:unless="${categoryMap == null || categoryMap.size() == 0}">
    <table>
      <thead>
      <tr>
        <th>商品類別</th>
        <th>商品名稱</th>
        <th>商品價格</th>
        <th>操作</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="product : ${products}">
        <td th:text="${categoryMap.get(product.categoryId)}"></td>
        <td th:text="${product.name}"></td>
        <td th:text="${product.price}"></td>
        <td>
          <a th:href="@{|/product/${product.id}|}">瀏覽</a> |
        </td>
      </tr>
      </tbody>
    </table>
    <a th:href="@{/}">返回首頁</a>
    <a th:href="@{|/cart|}">去購物車頁</a>
    <a th:href="@{/auth/login}" th:if="${session.jwtToken == null}">登入</a>
    <a th:href="@{/order/list}" th:if="${session.jwtToken != null}">我的訂單</a>
    <a th:href="@{/notification/list}" th:if="${session.jwtToken != null}">通知</a>
  </div>
</div>
</body>
</html>