<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="${product.name}"></title>
</head>
<body>
<div class="container-fluid">
  <h1 th:text="${product.name}"></h1>

  <div>
    <div>
      <label>商品名稱: </label>
      <span th:text="${product.name}"></span>
    </div>
    <div>
      <label>描述: </label>
      <span th:text="${product.description}"></span>
    </div>
    <div>
      <label>價格: </label>
      <span th:text="${product.price}"></span>
    </div>
    <div>
      <label>存貨: </label>
      <span th:text="${product.stock}"></span>
    </div>
    <br>
  </div>

  <form th:action="@{/cart}" method="post" th:if="${product.stock > 0}">
    <input type="hidden" name="_method" value="put" th:if="${cart.id != null}">
    <input type="hidden" name="id" th:value="${cart.id}" th:if="${cart.id != null}">
    <input type="hidden" name="productId" th:value="${cart.productId}"/>

    <div>
      <label>選購數量: </label>
      <input type="text" th:field="${cart.quantity}" required/><br/>
    </div>
    <br>

    <div>
      <button type="submit">確認</button>
      |
    </div>
  </form>
  <div>
    <!--      <a th:href="@{|/product/list?categoryId=${categoryId}|}">返回商品列表</a> |-->
    <a th:href="@{/product/list}" th:if="${categoryId == null}">返回商品列表</a> |
    <a th:href="@{/product/list(categoryId=${categoryId})}" th:if="${categoryId != null}">返回商品列表</a> |
    <!-- 返回首頁或其他操作連結 -->
    <a th:href="@{/}">返回首頁</a>
  </div>
</div>
</body>
</html>