<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>會員登入</title>
</head>
<!-- 錯誤訊息顯示 -->
<div th:if="${error}" style="color: red;">
  <p th:text="${error}"></p>
</div>

<body>
<form action="dashboard.html" th:action="@{/user/login}" method="post">
  <label>電子郵件</label>
  <input type="email" name="email" placeholder="請輸入電子郵件" autofocus="" required>
  <label>密碼:</label>
  <input type="password" name="password" placeholder="請輸入密碼" required>
  <br>
  <button type="submit">登入</button>
</form>
<br>
<!-- 註冊連結 -->
<p>還沒有帳號？<a th:href="@{/user/register}">註冊</a></p>
</body>
</html>