<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>會員登入</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<h1>會員登入</h1>
<!-- 錯誤訊息顯示 -->
<div th:if="${error}" style="color: red;">
    <p th:text="${error}"></p>
</div>

<!-- 登入表單 -->
<form th:action="@{/users/login}" method="post">
    <div>
        <label>電子郵件:</label>
        <input type="email" name="email" placeholder="請輸入電子郵件" required/>
    </div>
    <br>
    <div>
        <label>密碼:</label>
        <input type="password" name="password" placeholder="請輸入密碼" required/>
    </div>
    <br>
    <div>
        <button type="submit">登入</button>
    </div>
</form>
<br>
<!-- 註冊連結 -->
<p>還沒有帳號？<a th:href="@{/users/register}">註冊</a></p>
</body>
</html>
